<% layout("./layouts/boilerplate.ejs") %>
<!-- Adding newListing Form -->
    <body>
        <h3>Enter Your Place Details</h3>
        <div class="row">
            <div class="col-8 offset-2">
                <form action="/listings" method="post"  class="needs-validation"  novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="title" placeholder="enter a cachy title" name=listing[title] class="form-control" required>
        
                        <div class="invalid-feedback">Please provide valid title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label> <br>
                        <textarea id="" cols="30" rows="2" placeholder="enter desc" name=listing[description]
                            class="form-control" required></textarea>

                            <div class="invalid-feedback">Please provide short description</div>
                    </div>

                    <div class="mb-3">
                        <label for="title" class="form-label">Upload Image Listing</label><br>
                        <input type="file" placeholder="enter image/url/link" name=listing[image] class="form-control required">
                    </div>
                    
                    <div class="row">
                        <div class="mb-3 col-4 p-0">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" placeholder="1100" name=listing[price] class="form-control" required>
                            
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-3 col-8 pe-0">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" placeholder="India" name=listing[country] class="form-control" required>
                            
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" placeholder="Jaipur, Rajasthan" name=listing[location] class="form-control" required>
                        
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <button class="btn btn-dark mb-3">Add</button>
                </form>
            </div>
        </div>
    
    </body>